In [ ]:
import pandas as pd

In [ ]:
def odd(x):
  odd_list = []
  for nth in range(0, x):
    odd_list.append((nth * 2) + 1)
  return odd_list

In [ ]:
def even(y):
  even_list = []
  for nth in range(0, y):
    even_list.append(nth * 2)
  return even_list

In [ ]:
def fibonacci(z):
  fib_list =[0, 1]
  if (z == 1):
    fib_list.pop()
  for nth in range(0, z-2):
    fib_list.append(fib_list[-1] + fib_list[-2])
  return fib_list

In [ ]:
try:
  user_input = int(input('Enter an integer: '))
  fib_list = fibonacci(user_input)
  even_list = even(user_input)
  odd_list = odd(user_input)
  output_dict = {'Odd': odd_list, 'Even': even_list, 'Fibonacci': fib_list}
  df = pd.DataFrame(output_dict)

except:
  print('Please enter a valid int')
df

Enter an integer: 9

   Odd  Even  Fibonacci
0    1     0          0
1    3     2          1
2    5     4          1
3    7     6          2
4    9     8          3
5   11    10          5
6   13    12          8
7   15    14         13
8   17    16         21